@import 'styles/variables.scss';

.profile {
  position: relative;

  .form {
    padding-bottom: 0;
    padding-top: 0;
  }

  &__buttons-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__button-back {
    position: absolute;
    top: 10px;
    left: 10px;
  }
}
