@import 'styles/variables.scss';
@import 'styles/button.scss';

.profile {
  background-color: $sand;
  padding: 40px;
  border-radius: 25px;
  position: relative;

  .form {
    padding-bottom: 0;
    padding-top: 0;
  }

  &__buttons-wrapper {
    display: flex;
    gap: 20px;
  }

  &__button-back {
    position: absolute;
    top: 10px;
    left: 10px;
  }
}
