@font-face {
  font-display: swap;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/comfortaa.woff2') format('woff2'),
    url('assets/fonts/comfortaa.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/comfortaa-bold.woff2') format('woff2'),
    url('assets/fonts/comfortaa-bold.woff') format('woff');
}
