* {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

body,
ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: $black;
  cursor: pointer;
}

button,
input {
  background-color: inherit;
  border: none;
}

button {
  cursor: pointer;
}
