@import './variables.scss';
@import './fonts.scss';
@import './normilize.scss';

body {
  background-color: $light-blue-crayola;
  font-family: 'Comfortaa', sans-serif;

  h1 {
    font-size: 62px;
    font-weight: 400;
  }
}

#root,
html,
body {
  width: 100%;
  height: 100%;
  overflow: auto;
}
