@import 'styles/variables.scss';

.footer {
  background-color: $pigeon-blue;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    color: $white;
    font-size: 13px;
  }

  &__link {
    color: $white;

    &:hover {
      text-decoration: underline;
    }
  }
}
